[user]
	name = Leonard Marshall Afzal\n
	email = loma256@gmail.com
[alias]
	st = status -sb
	ch = checkout
	co = commit
	cm = commit -m
	p = push
	fuck = git reset --hard
	last = log -1 HEAD --stat
	count = rev-list --count
[help]
	autocorrect = 1
